@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Reset de CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    font-family: 'Roboto';
    background: #f5f7fa;
}

.navbar{
    display: flex;
    padding: 10px 0;
    justify-content: space-around;
    width: 100%;
    height: 45px;
}

.navbar i{
    font-size: 1.5rem;
    color: #dadfe6;
}

.navbar i:nth-child(2){
    color: #f3466d;
}

.photo-actions{
    height: calc(100vh - 45px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo{
    width: 98vw;
    height: 85vh;
    background-image: url('../images/david.jpg');
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    /* width: 420px; */

    display: flex;
    align-items: flex-end;
    color: #eee;
    box-shadow: 0 2px 10px 0 rgba(136, 136, 136, .77);
}

.photo-text{
    padding: 15px;
    background: rgb(2, 0, 36);
    background: rgb(2, 0, 36);
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(35, 34, 65, 0) 0%,
        rgba(0, 0, 0, .7) 50%
    );
    border-radius: 10px;
}

.name-age{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.name-age h2{
    font-size: 1.8rem;
    font-weight: 500;
}

.name-age h2:nth-child(2){
    margin-left: 10px;
    font-weight: 400;
}

.bio{
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
}

.actions{
    flex: auto;
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.action{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 2rem;
    box-shadow: 0 2px 6px 0 rgba(112, 125, 135, .15);
}

.actions .action:nth-child(1){
    color: rgb(238, 50, 112);
    transition: all .5s;
}

.actions .action:nth-child(1):hover{
    transition: all .5s;
    font-size: 3rem;
    height: 56px;
    width: 56px;
}


.actions .action:nth-child(2){
    height: 48px;
    width: 48px;
    font: 1.5rem;
    margin: 0 1rem;
    color: rgb(67, 170, 255);
    transition: all .5s;
}

.actions .action:nth-child(2):hover{
    transition: all .5s;
    font-size: 3rem;
    height: 56px;
    width: 56px;
}

.actions .action:nth-child(3){
    color: rgb(14, 248, 197);
    transition: all .5s;
}

.actions .action:nth-child(3):hover{
    transition: all .5s;
    font-size: 3rem;
    height: 56px;
    width: 56px;
}

@media(min-width: 1030px){
    .photo{
        width: 367px;
        height: 684px;
    }

    .actions{
        flex: initial;
    }

    .photo-actions{
      justify-content: center;  
    }

    .navbar{
        width: 400px;
        margin: auto;
    }
}